<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495114063652-n25h5abt4ij5b5kqd28q9h85daq290cp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495114063652-n25h5abt4ij5b5kqd28q9h85daq290cp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>495114063652-sg252lfcam5moo1lsqrrum9usl2ttpd2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCdVT65yWyP_eHNXLrP4cxA30IZIUBM7wI</string>
	<key>GCM_SENDER_ID</key>
	<string>495114063652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.igotbumped</string>
	<key>PROJECT_ID</key>
	<string>i-got-bumped</string>
	<key>STORAGE_BUCKET</key>
	<string>i-got-bumped.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495114063652:ios:e02808ebbaf80c35186db1</string>
</dict>
</plist>